
section{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

@media all and (max-width: 600px) {
  body {
    max-width: 90%;
  }
}

@media all and (min-width: 768px) {
  body {
    max-width: 976px;
    margin: 0 auto;
  }
}
