div {
  float: left;
  padding: 10px;
  margin: 10px;
  overflow: hidden;
  height: 200px;
  background-color: #88ccff;
  border-radius: 4px;
}

button, select{
  margin: auto;
  padding:10px;
  background-color: #446688;
  color: #88ccff;
  border: none;
  font-family: "Amatic SC", cursive;
  font-size: 24px;
}

img {
  height: 150px;
  width: auto;
}

footer {
  clear: both;
}

div img,
select {
  display: block;
  margin: 0 auto;
}
